/* Tablet */
@media (max-width: 848px) {
	.pageTitle {
		padding: 16px 24px 16px 24px;
	}
	.container {
		margin: 16px 24px 0 24px;
	}
	.brandCards {
		column-gap: 24px;
	}
	.brandCards__card {
		width: 224px;
	}
	.pageTitle {
		font-size: 16px;
	}
}
/* Mobile */
@media (max-width: 520px) {
	.container {
		margin: 16px 24px 0 24px;
	}
	.brandCards {
		column-gap: 24px;
	}
	.brandCards__card {
		width: 224px;
	}
	.pageTitle {
		font-size: 16px;
	}
}

