* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
a {
	background-color: transparent;
	cursor: pointer;
}
